<h2>#<%= params[:name] %></h2>

<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
  <%= link_to "ユーザー一覧へ", users_path %>

  <hr>

  <div id="tab1" class="tab-pane active">
    <div class="table-container">
      <table class="table table-striped">
        <thead class="bg-danger text-white">
          <tr>
            <th>メールアドレス</th>
            <th>投稿内容</th>
            <th>いいね数</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><a href="/users/<%= post.user.id %>"><%= post.user.email %></a></td>
              <td><a href="/posts/<%= post.id %>"><%= render_with_hashtags(post.content) %></a></td>
              <td>(<%= post.liked_users.count %>)</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= link_to "ユーザー一覧へ", users_path %>
  <%= link_to "ホームへ戻る", posts_path %>

<% else %>
  <%= link_to "ユーザー登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
